* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
a{
  text-decoration: none;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/Montserrat-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'Montserrat-Regular';
  src:url('../fonts/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
body {
	font-family: 'Montserrat-Regular';

}


.wrapper {
	width: 90%;
	margin: 0 auto;
}
:root{
	--text-color: #252B42;
	--second-text-color: #737373;
	--primary-color: #FC724D;
	

}
#home {
	background: linear-gradient(to right, rgba(255, 255, 255, 0.998), rgba(197, 197, 213, 0.25)), 
				url(../images/cover-photo-01.png);
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
	background-size: cover;
  }

	header{
	height: 100px;
	width: 85%;
	margin-bottom: 100px;
}
header section.wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}
header section.wrapper div.left{}
header section.wrapper div.left h1{
	font-size: 25px;
	font-weight: 900;
}
header section.wrapper div.middle{}
header section.wrapper div.middle ul{
	display: flex;
}
header section.wrapper div.middle ul li{
	margin-right: 20px;
}
header section.wrapper div.middle ul li:last-child{
	margin-right: 0;
}
header section.wrapper div.middle ul li a{
	color: var(--second-text-color);
}
header section.wrapper div.right{}
header section.wrapper div.right ul{
	display: flex;
}
header section.wrapper div.right ul li{
}
header section.wrapper div.right ul li:last-child{
	margin-right: 0;
}
header section.wrapper div.right ul li a.buttonone{
	color: var(--primary-color);
	margin-right: 40px;
	font-weight: 600;
}
header section.wrapper div.right ul li a.buttontwo{
	color: #fff;
	background-color: var(--primary-color);
	padding: 12px;
	border-radius: 5px;
	font-weight: 600;
}
header section.wrapper div.right ul li a.buttontwo img{
	margin-left: 10px;
}
#spotlight{
}
#spotlight section.wrapper{
	align-items: center;
}
#spotlight section.wrapper span{
	color: var(--primary-color);
	margin-top: 100px;
}
#spotlight section.wrapper h1{
	font-size: 50px;
	font-weight: 900;
	margin-top: 30px;
}
#spotlight section.wrapper p{
	color: var(--second-text-color);
	margin-top: 30px;
	margin-bottom: 30px;
}
#spotlight section.wrapper ul{
	padding-bottom: 100px;
	display: flex;
}
#spotlight section.wrapper ul li{
	margin-right: 20px;
}
#spotlight section.wrapper ul li:last-child{
	margin-right: 0;
}
#spotlight section.wrapper ul li a.buttonone{
	color: #fff;
	background-color: var(--primary-color);
	padding: 8px 20px;
	border-radius: 4px;
}
#spotlight section.wrapper ul li a.buttontwo{
	color: var(--primary-color);
	border: 1px solid var(--primary-color);
	padding: 8px 20px;
	border-radius: 4px;
}
#content{
	margin-top: 100px;
}
#content section.wrapper{}
#content section.wrapper div.top{}
#content section.wrapper div.top span{
	color: var(--primary-color);
	font-weight: 900;
	font-size: 18px;
}
#content section.wrapper div.top h1{
	font-size: 30px;
	font-weight: 900;
	margin-top: 20px;
}
#content section.wrapper div.top p{
	color: var(--second-text-color);
	margin-top: 20px;
	margin-bottom: 100px;
}
#content section.wrapper div.bottom{
	display: flex;
	justify-content: space-between;
}
#content section.wrapper div.bottom div.box{
	width: 23%;
	height: 300px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.09);
	margin-bottom: 100px;
}
#content section.wrapper div.bottom div.box img{
	margin-left: 30px;
	margin-top: 40px;
}
#content section.wrapper div.bottom div.box h3{
	margin-top: 30px;
	margin-left: 30px;
	font-size: 20px;
	font-weight: 900;
}
#content section.wrapper div.bottom div.box div.line{
	margin-top: 20px;
	margin-left: 30px;
	border: 1px solid var(--primary-color);
	width: 50px;
}
#content section.wrapper div.bottom div.box p{
	color: var(--second-text-color);
	margin-top: 30px;
	margin-left: 30px;
}
#content section.wrapper div.bottom div.box.one{
	background-color: var(--primary-color);
	height: 330px;
}
#content section.wrapper div.bottom div.box.one h3{
	color: #fff;
}
#content section.wrapper div.bottom div.box.one div.line{
	border-color: #fff;
}
#content section.wrapper div.bottom div.box.one p{
	color: #ffff;
}
#video{}
#video section.wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#video section.wrapper div.left{}
#video section.wrapper div.left div.line{
	border: 2px solid var(--primary-color);
	width: 50px;
}
#video section.wrapper div.left h1{
	margin-top: 20px;
	font-size: 50px;
	font-weight: 900;
}
#video section.wrapper div.left p{
	color: var(--second-text-color);
	margin-top: 30px;
}
#video section.wrapper div.left a{
	display: inline-block;
	margin-top: 30px;
	color: var(--primary-color);
	margin-right: 10px;
}
#video section.wrapper div.left a img{
	vertical-align: middle;
	margin-left: 5px;
}
#video section.wrapper div.right{}
#video section.wrapper div.right img{
	border-radius: 10px;
}
#video section.wrapper div.right div.play{
	background-color: var(--primary-color);
	width: 80px;
	height: 80px;
	position: relative;
	bottom: 225px;
	left: 220px;
	border-radius: 50%;
}
#video section.wrapper div.right div.play img{
	border-radius: 0;
	position: relative;
	left: 30px;
	top: 28px;
}
#medicine{}
#medicine section.wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#medicine section.wrapper div.left{
	width: 50%;
	height: 800px;
}
#medicine section.wrapper div.left img{
	width: 100%;
	height: 100%;
}
#medicine section.wrapper div.right{}
#medicine section.wrapper div.right div.line{
	border: 2px solid var(--primary-color);
	width: 80px;
	margin-bottom: 20px;
}
#medicine section.wrapper div.right h1{
	font-size: 30px;
	font-weight: 800;
	margin-bottom: 30px;
}
#medicine section.wrapper div.right p{
	color: var(--second-text-color);
	margin-bottom: 30px;
}
#medicine section.wrapper div.right div.button{}
#medicine section.wrapper div.right div.button a{
	color: var(--primary-color);
	margin-right: 10px;
}
#medicine section.wrapper div.right div.button img{
	vertical-align: middle;
	margin-left: 15px;
}
#product{
	margin-bottom: 200px;
}
#product section.wrapper{}
#product section.wrapper div.top{
	margin-top: 70px;
}
#product section.wrapper div.top span{
	color: var(--primary-color);
	margin-bottom: 20px;
	display: inline-block;
}
#product section.wrapper div.top h1{
	font-size: 35px;
	font-weight: 900;
	margin-bottom: 20px;
}
#product section.wrapper div.top p{
	color: var(--second-text-color);
	margin-bottom: 70px;
}
#product section.wrapper div.middle{
	display: flex;
	justify-content: space-between;
}
#product section.wrapper div.middle div.clm{
	width: 24%;
}
#product section.wrapper div.middle div.clm h3{
	color: #ffff;
	background-color: var(--primary-color);
	display: inline-block;
	padding: 4px 8px;
	border-radius: 5px;
	position: relative;
	top: 50px;
	left: 30px;
}
#product section.wrapper div.middle div.clm img.img{
	width: 100%;
	height: 339px;
}
#product section.wrapper div.middle div.clm div.icons{
	display: flex;
}
#product section.wrapper div.middle div.clm div.icons div.padding{
	background-color: #ffff;
	width: 45px;
	height: 45px;
	margin-right: 15px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	left: 55px;
	bottom: 70px;
}
#product section.wrapper div.middle div.clm div.icons div.padding:last-child{
	margin-right: 0;
}
#product section.wrapper div.middle div.clm div.icons div.padding img{
	margin-top: 11px;
}
#product{}
#product section.wrapper div.bottom{
	display: flex;
	justify-content: space-between;
}
#product section.wrapper div.bottom div.boxcontant{
	width: 19%;
}
#product section.wrapper div.bottom div.boxcontant div.star{
	display: flex;
	justify-content: space-between;
}
#product section.wrapper div.bottom div.boxcontant div.star span{
	color: var(--primary-color);
	font-size: 15px;
	font-weight: 800;
}
#product section.wrapper div.bottom div.boxcontant div.star div.rating{
	display: flex;
	background-color: var(--text-color);
	padding: 6px;
	border-radius: 20px;
}
#product section.wrapper div.bottom div.boxcontant div.star div.rating img{
	margin-right: 4px;
}
#product section.wrapper div.bottom div.boxcontant div.star div.rating h5{
	color: #ffff;
}
#product section.wrapper div.bottom div.boxcontant h3{
	font-size: 22px;
	font-weight: 900;
	margin-top: 10px;
	margin-bottom: 10px;
}
#product section.wrapper div.bottom div.boxcontant p{
	color: var(--second-text-color);
}
#product section.wrapper div.bottom div.boxcontant div.sales{
	display: flex;
	margin-top: 10px;
	margin-bottom: 10px;
}
#product section.wrapper div.bottom div.boxcontant div.sales img{
	margin-right: 10px;
}
#product section.wrapper div.bottom div.boxcontant div.sales h6{
	color: var(--second-text-color);
	font-size: small;
	font-weight: 600;
}
#product section.wrapper div.bottom div.boxcontant div.price{
	display: flex;
	margin-bottom: 20px;
}
#product section.wrapper div.bottom div.boxcontant div.price h4{
	font-weight: 800;
}
#product section.wrapper div.bottom div.boxcontant div.price h4.rate{
	color: var(--second-text-color);
}
#product section.wrapper div.bottom div.boxcontant div.price h4.discount{
	color: blue;
	margin-left: 8px;
}
#product section.wrapper div.bottom div.boxcontant a{
	border: 2px solid var(--primary-color);
	padding: 7px 15px;
	border-radius: 20px;
}
#product section.wrapper div.bottom div.boxcontant a img{
	vertical-align: middle;
}
#testimonials{
	margin-bottom: 200px;
}
#testimonials section.wrapper{}
#testimonials section.wrapper div.top{}
#testimonials section.wrapper div.top span{
	color: var(--primary-color);
	margin-bottom: 15px;
	display: inline-block;
}
#testimonials section.wrapper div.top h1{
	font-size: 30px;
	font-weight: 900;
	margin-bottom: 15px;
}
#testimonials section.wrapper div.top p{
	color: var(--second-text-color);
	margin-bottom: 100px;
}
#testimonials section.wrapper div.bottom{
	display: flex;
	justify-content: space-between;
}
#testimonials section.wrapper div.bottom div.division{
	width: 50%;
	text-align: center;
}
#testimonials section.wrapper div.bottom div.division img{
	border-radius: 50%;
	margin-bottom: 10px;
}
#testimonials section.wrapper div.bottom div.division p{
	color: var(--second-text-color);
	margin-bottom: 10px;
}
#testimonials section.wrapper div.bottom div.division div.star{
	display: flex;
}
#testimonials section.wrapper div.bottom div.division div.star img{
	margin-right: 8px;
}
#testimonials section.wrapper div.bottom div.division div.star img:first-child{
	margin-left: 220px;
}
#testimonials section.wrapper div.bottom div.division h3{
	font-size: 20px;
	font-weight: 900;
}
#testimonials section.wrapper div.bottom div.division span{
	color: var(--second-text-color);
}
#team{}
#team section.wrapper{}
#team section.wrapper div.top{}
#team section.wrapper div.top span{
	color: var(--primary-color);
}
#team section.wrapper div.top h1{
	font-size: 30px;
	font-weight: 900;
	margin-top: 10px;
	margin-bottom: 10px;
}
#team section.wrapper div.top p{
	color: var(--second-text-color);
	margin-bottom: 100px;
}
#team section.wrapper div.bottom{
	display: flex;
	justify-content: space-between;
}
#team section.wrapper div.bottom div.photo{
	text-align: center;
	height: 400px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.09);
	border-radius: 30px;
	margin-bottom: 40px;
} 
#team section.wrapper div.bottom div.photo img{
	border-top-right-radius: 30px;
	border-top-left-radius: 30px;
}
#team section.wrapper div.bottom div.photo h3{
	font-size: 18px;
	font-weight: 700;
	margin-top: 20px;
	margin-bottom: 20px;
}
#team section.wrapper div.bottom div.photo span{
	color: var(--second-text-color);
}
#team section.wrapper div.bottom div.photo div.icons{
	display: flex;
	justify-content: space-between;
	width: 140px;
	margin-left: 55px;
	margin-top: 10px;
}
#team section.wrapper div.bottom div.photo div.icons img{
	margin-right: 10px;
}
#newsletter{
}
#newsletter section.wrapper{
	margin-top: 100px;
}
#newsletter section.wrapper div.top{
	text-align: center;
	margin-bottom: 160px;
}
#newsletter section.wrapper div.top span{
	color: var(--primary-color);
	margin-bottom: 15px;
	display: inline-block;
}
#newsletter section.wrapper div.top h1{
	font-size: 30px;
	font-weight: 900;
	margin-bottom: 15px;
}
#newsletter section.wrapper div.top p{
	color: var(--second-text-color);
	margin-bottom: 50px;
}
#newsletter section.wrapper div.top form{
	align-items: center;
}
#newsletter section.wrapper div.top form input:first-child{
	margin-right: 200px;
	background-color: #dbd4d4;
	height: 20px;
	width: 600px;
	padding: 15px;
	margin-left: 40px;
}
#newsletter section.wrapper div.top form input:last-child{
	color: #ffff;
	margin-left: -210px;
	background-color: var(--primary-color);
	padding: 8px;
	width: 150px;
}
footer{
	margin-bottom: 100px;
}
footer section.wrapper{}
footer section.wrapper div.top{
	display: flex;
	justify-content: space-between;
}
footer section.wrapper div.top div.card{}
footer section.wrapper div.top div.card h3{
	margin-bottom: 12px;
	font-size: 18px;
	font-weight: 900;
}
footer section.wrapper div.top div.card ul{}
footer section.wrapper div.top div.card ul li{
	margin-bottom: 10px;
}
footer section.wrapper div.top div.card ul li a{
	color: var(--second-text-color);
}
footer section.wrapper div.top div.card ul.one{
	text-align: center;
}
footer section.wrapper div.top div.card ul.one li{
	display: flex;
}
footer section.wrapper div.top div.card ul.one li img{
	margin-right: 10px;
}